/*全体に関わってくるやつ*/
html{
  height:100%; /*親要素のheight幅を最大にしておく*/
}

body{
  height:100%; /*親要素のheight幅を最大にしておく*/
  font-family:"Avenir Next";
}

a{
  text-decoration:none; /*リンクの下線を非表示にする*/
}

li{
  list-style: none;
}

h2{
  text-align:center;
  letter-spacing:15px;
  font-size: 50px;
  margin: 80px 0;
}

#wrapper{
  height:100%;
}

main{
  height:4000px;/*最終的には全て足し合わせた値*/

}

/*ここからheader*/

#top-wrapper{
  height: calc(100%/8); /*目次の高さ（画面全体 // 8）*/
  width:100%;
  background-color:rgba(254, 255, 248, 0.7); /*背景を透明にする 1に近いほど不透明*/
  position:fixed; /*固定する設定*/
  top:0; /*最上部に固定したまま*/
  z-index:10; /*重なって時に一番上に来るようにする*/
}

/*親要素*/
.top-table{
  float:left; /*横並びに*/
  width:calc(100%/4); /*3つずつ並べる*/
  text-align: center; /*ロゴを中央寄せ*/
}

/*子要素*/
.top-table-box{
  width:80%;
  display:inline-block;
  margin-top:20px;
  text-align:center;
}

/*目次の字体関連*/
.top-table-text{
  font-size:25px;
  color:black;
  text-align:center;
}

/*about-meの蛍光ペン装飾*/
.top-about-me{
  background: linear-gradient(transparent 50%, #e9e75f 50%);
}

/*worksの蛍光ペン装飾*/
.top-works{
  background: linear-gradient(transparent 50%, #a8eaff 50%);
}

/*skillsの蛍光ペン装飾*/
.top-skills{
  background: linear-gradient(transparent 50%, #5fec5f 50%);
}

/*snsの蛍光ペン装飾*/
.top-sns{
  background: linear-gradient(transparent 50%, #c768f3 50%);
}

/*ここからheader*/
header{
  height:60%; /*titleの大きさ*/
}


.logo{
  width: 100%;
  letter-spacing:15px; /*文字の間隔*/
  margin-top:calc(100%/3);
  font-family: cursive; /*字体をお洒落に*/
  text-align: center;
}

.logo-sub-title{
  font-size:50px;
}

.logo-title{
  font-size:60px;
}

/******************
**ここからAbout-Me**
******************/

.about-me-body{
  height:1000px;
  width: 100%;
}

/*アイコン全体の調整*/
.about-me-image{
  float:left; /*横並びに*/
  width:calc(100%/2); /*2つずつ並べる*/
  text-align: center; /*2舞の画像を中央に*/
}

/*実物アイコンの調整*/
.my-picture-reality{
  height:250px; /*横幅自動調節*/
  border-radius: 50%; /*円形にする*/
}

/*実物アイコンの説明*/
.my-picture-reality-text{
  color:black;
  font-family: HanziPen SC; /*https://qiita.com/nacho0707/items/cc55abde2eab944fdbb1*/
}

/*技術垢アイコンの調整*/
.my-picture-fantasy{
  height:250px; /*横幅自動調節*/
}

/*技術垢アイコンの説明*/
.my-picture-fantasy-text{
  color:black;
  font-family: HanziPen SC; /*https://qiita.com/nacho0707/items/cc55abde2eab944fdbb1*/
}

/*careerの全体の調整*/
.about-me-text{
  float: left;
  width:calc(100%/2); /*2つずつ並べる*/
  margin-top: 100px; /*画像と文章の間の余白*/
}

/*careerの１つ１つの調整*/
.about-me-details{
  text-align: center; /*中央よせ*/
  font-size: 20px;
  font-family: Hannotate SC; /*https://qiita.com/nacho0707/items/cc55abde2eab944fdbb1*/
}


/******************
**ここからWorks**
******************/

#Works{
  height:1300px;
  /*background-color: #1dc21d;/*debug*/
}

/*見出しの調整*/
.works-title-text{
  text-align: center;
  font-family: HanziPen SC; /*https://qiita.com/nacho0707/items/cc55abde2eab944fdbb1*/
}

.works-box{
  float:left;
  width:calc(100%/3);
  text-align: center;
  margin-top: 100px;
}

/*画像の大きさ調整*/
.works-img{
  height:250px; /*横幅自動調節*/
  margin-bottom: 30px;
}

.works-product-title{
  font-size:20px;
  height:50px;
  position: relative;
  color: #178dee;
}
  
.works-product-title:after{
  display: block;
  content: "";
  height: 5px;
  background: -moz-linear-gradient(to right, #94fff4, transparent);
  background: -webkit-linear-gradient(to right, #94fff4, transparent);
  background: linear-gradient(to right, #94fff4, transparent);
}

.works-product-info{
  font-family: HanziPen SC; /*https://qiita.com/nacho0707/items/cc55abde2eab944fdbb1*/
  font-size: 17px;
  height:50px;
  position: relative;
  color: #f7880a;
}

.works-product-info:after{
  display: block;
  content: "";
  height: 5px;
  background: -moz-linear-gradient(to right, #f8ff94, transparent);
  background: -webkit-linear-gradient(to right, #f8ff94, transparent);
  background: linear-gradient(to right, #f8ff94, transparent);
}

.works-product-url{  
}

/******************
**ここからSkills**
******************/

#Skills{
  height:400px;
}

.my-skills{
  float:left; /*横並びに*/
  width:calc(100%/3); /*3つずつ並べる*/
  text-align: center; /*ロゴを中央よせ*/
}

.img-skills{
  height:100px; /*ロゴの大きさ調整（widthは自動補完）*/
}

.skills-contents{
  width:80%;
  display:inline-block;
  margin-top:20px;
  font-size:12px;
  color:#b3aeb5;
  text-align:center;
}

/******************
**ここからSNS**
******************/

.section-text{
  text-align:center;
}

.sns-list{
	display: flex;
	flex-wrap:wrap;
}

.sns-list li {
	width: calc(100%/5);/*←画像を横に5つ並べる*/
	padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
}

.sns-list li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
  width:30px;/*heightは自動補完*/
}

#sns{
  height:500px;
}

.sns-text{
  text-align:center;
  height:50px;
}

.btn {
  padding: 16px 20px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  font-size:20px;
  border-radius: 6px;
  height:30px;
}

.btn:hover {
  opacity: 1;
}

.github{
  background-color:#1dc21d;
}

.twitter{
  background-color:#55acee;
}

.instagram{
  background-color:#CF2E92;
}

.hatenablog{
  background-color:#ebbc23
}

.atcoder{
  background-color:black;
}

.sns-img-text{
  float:right;
  text-align:center;
  font-size:15px;
  margin:auto 10px;
}

/******************
**ここからfooter**
******************/

#footer{
  color:white;
  background-color:#808080;
  text-align:center;
  padding:15px 0;
}