/*全体に関わってくるやつ*/
html{
  width:100%;
}

body{
    font-family:"Avenir Next";
}

a{
  text-decoration:none; /*リンクの下線を非表示にする*/
}

li{
  list-style: none;
}

h2{
  text-align:center;
  letter-spacing:15px;
  font-size: 50px;
  margin: 80px 0;
}

.inner{
  height:100%;
}

/*header*/
.top-box{
  background-color: #55acee;
  text-align:center;
  margin:10px 20px;
  padding: 20px 50px;
  font-size:28px;
  display: inline-block;
  letter-spacing: 5px;
  width:1000px;
}

.fixed{
  display:flex;
}

.top-box-text{
  color: black;
}

/*logo*/
.logo{
  height:100%;
  background-color:red;
}

.logo-title{
  text-align:center;
  letter-spacing:15px;
  font-size:70px;
}

.logo-desc{
  text-align:center;
  letter-spacing:15px;
  font-size:40px;
}

/*Introduction*/

/*product*/

/*skills*/
#skills{
  height:400px;
}

.my-skills{
  float:left; /*横並びに*/
  width:calc(100%/3); /*3つずつ並べる*/
  text-align: center; /*ロゴを中央よせ*/
}

.img-skills{
  height:100px; /*ロゴの大きさ調整（widthは自動補完）*/
}

.skills-contents{
  width:80%;
  display:inline-block;
  margin-top:20px;
  font-size:12px;
  color:#b3aeb5;
  text-align:center;
}

/*contactform*/
.section-text{
  text-align:center;
}

.contact-list{
	display: flex;
	flex-wrap:wrap;
}
.contact-list li {
	width: calc(100%/5);/*←画像を横に5つ並べる*/
	padding:0 5px;/*←画像の左右に5pxの余白を入れる場合*/
	box-sizing:border-box;
}

.contact-list li img {
	max-width:100%; /*画像のはみだしを防ぐ*/
	height: auto; /*画像の縦横比を維持 */
}

#contact{
  height:300px;
}

.contact-other{
  text-align:center;
  height:50px;
}

.btn {
  padding: 16px 20px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  font-size:20px;
  border-radius: 6px;
  height:30px;
}

.btn:hover {
  opacity: 1;
}

.github{
  background-color:#1dc21d;
}

.twitter{
  background-color:#55acee;
}

.instagram{
  background-color:#CF2E92;
}

.hatenablog{
  background-color:#ebbc23
}

.atcoder{
  background-color:black;
}

.contact-img{
  width:30px;/*heightは自動補完*/
}

.contact-img-text{
  float:right;
  text-align:center;
  font-size:15px;
  margin:auto 10px;
}

/*footer*/
#footer{
  color:white;
  background-color:#808080;
  text-align:center;
  padding:15px 0;
}