body{
    font-family:"Avenir Next";
  }
  
li{
  list-style: none;
}
  
body{
    background-image: url("/Users/ryusuke/Documents/git/My-Portfolio/images/KairyuBackground.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: contain;
    width: 100%;
}

header {
  height:65px;
}

.header-logo{
  float: left;
  font-size: 40px;
  padding: 20px 20px;
}


.header-list li{
  margin: 0 0 0 70px;
  float: left;
  font-size: 25px;
  padding: 20px 20px;
  background-color: rgba(79, 176, 196, 0.9);
}

main{
  height: 1200px;
}

footer{
  height: 100px;
}